{% extends 'base.html' %}

{% block content %}


<div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart"></i>Biling Address</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">

                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        <form action="#" method="POST">
                                            {%csrf_token%}
                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    First Name: {{form.first_name}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    ast Name: {{form.last_name}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Pnone Number: {{form.phone}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Emial: {{form.email}}
                                                </div>
                                                <div class="form-group col-md-12 col-sm-12 col-lg-12">
                                                    Address: {{form.address}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Country: {{form.country}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    State: {{form.state}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    City: {{form.city}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Pin Code: {{form.pin_code}}
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon-book"></i>Your OrderList</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div>
                                        <ul>
                                            <li style="list-style-type: none;">
                                                Subtotal
                                                <span class="price float-right">
                                                    <span class="current">$</span>
                                                    <span id="subtotal">{{subtotal}}</span>
                                                </span>
                                            </li>
                                            {% for key, value in tax_dic.items %}
                                                {% for i,j in  value.items %}
                                                    <li style="list-style-type: none;">
                                                        {{ key }} <small>({{ i }}%)</small>
                                                        <span class="price float-right">
                                                            <span class="current">$</span>
                                                            <span id="tax-{{key}}">{{ j }}</span>
                                                        </span>
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}


                                            <li style="list-style-type: none; font-weight:600">
                                                Total
                                                <span class="price float-right">
                                                    <span class="current">$</span>
                                                    <span id="total">{{ grand_total }}</span>
                                                </span>
                                            </li>
                                            <a href="{% url 'checkout' %}" class="btn btn-danger w-100 p-2 mt-3">Place Order</a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>



{% endblock %}


